body{
    font-family: 'Roboto', sans-serif;
}

#app{
    display: flex;
    flex-wrap: wrap;
}

#about-title{
    font-family: 'DM Serif Display', serif;
}
#grid-sidebar{
    padding: 20px;
    line-height: 3em;
    text-transform: uppercase;
    color: gray;
    font-size: 0.8em;
    width: 17vw;
    height:100vh;
    background-color: #F8F8F8;
}

#grid-about{
    position: absolute;
    left:0;
    top:20%;
    margin: 5vw;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

#main{
    width: 75vw;
    position: relative;
    text-align: center;
}

h2{
    font-weight: 600;
    font-size: 1em;
    line-height: normal;
}


