#sidebar{
    position:absolute;
    right:20px;
    top:20px;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;

}

.value{
    font-weight: 800;
    font-size: 2em;
}

.label{
    display: block;
}


path {
    fill: none;
}

.vis{
    display: block;
    text-align: center;
}

.slider{
    padding-right: 5px;
}


circle,text, path{
    transition: all 1s ease-in-out 0s;
}


#tooltip{
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;			
    pointer-events: none;		
    opacity: 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(230, 230, 230);
}

#tooltip.active{
    transition: opacity 1s ease-in-out 0s;
    opacity: 1;
}

#about{
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -400px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width:800px;
    height:500px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;

}

#about-title{
    font-weight: bold;
    font-size: 2em;
    padding: 1em;
}

#map{
    opacity:0;
}
#map.active{
    transition: opacity 1s ease-in-out 0s;
    opacity: 1;
}
