#sidebar{
    position:absolute;
    right:0;
    top:0;
    width:20vw;
    padding:20px;
}

.value{
    font-weight: 800;
    font-size: 2em;
}

.label{
    display: block;
}


path {
    fill: none;
}

.vis{
    display: block;
    text-align: center;
}

.slider{
    padding-right: 5px;
}


circle,text, path{
    transition: all 1s ease-in-out 0s;
}


#tooltip{
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;			
    pointer-events: none;		
    opacity: 0;
    width:600px;
}

#tooltip.active{
    transition: opacity 1s ease-in-out 0s;
    opacity: 1;
}

