<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome to COVID-19 NYC Edition</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/grid.css">
  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Roboto:300,700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div id="sidebar">
      <div class='selection'>
        <label :style="{color:multiplierScale}" for="MultiplierSlider">Multiplier</label>
        <input type="range" min="1" :max="maxMultiplier" v-model="multiplier" class="slider" step="1" id="multiplierSlider"> {{multiplier}}
      </div>
      <div><span class="dot" style="background-color:#fca52a;"></span> Tested Positive</div>
      <div><span class="dot" style="background-color:#ffcc02;"></span> Tested Negative</div>
      <div v-if="multiplier > 1"><span class="dot" style="background-color:#d6d6d6;"></span> Unknown Outcome</div>
      <div class='selection'>
        <label for="sortCheckbox">Sort</label>
        <input type="checkbox" v-model="sortOutcomes" id='sortCheckbox'>
      </div>
      <div><strong style="color:black;">Each dot represents 100 people.</strong></div>
      <div class='selection'>
        <label for="aboutCheckbox">Show About</label>
        <input type="checkbox" v-model="showAbout" id='aboutCheckbox'>
      </div>
    </div>
    <div id="about" v-show="showAbout">
      <div id="about-title">Welcome To NYC Through The Eyes Of COVID-19 Testing</div>
      <div id="about-body">
        <p>Each circle represents a 100 people that have been tested and living in the same Zip Code.</p>
        <p>More tests are being completed every hour, but we cannot be certain about the true number of people who are infected.
        Experts estimations vary, from 5x the current tested number to 18x.</p> 
        <p>Change the multiplier to view different estimates and how many people may be infected with COVID-19 and see how uncertain we are about the true impacts of this virus.</p>
      </div>
      <button id='aboutButton' v-on:click="showAbout = false">Dismiss</button>
    </div>
    <div id="main">
      <div class='vis' id='bubbles'>
        <svg :width="svgWidth" :height="svgHeight">
          <g :transform="'translate(' + margin.left + ',' + margin.top + ')'">
            <circle v-for="(el, i) in predicted" :cx="grid.x(i)" :cy="grid.y(i)" :r="grid.size" :fill="grid.color(el)" @mouseover="gridTooltip(el)" @mouseout='tooltipVisible = false'/>
          </g>
        </svg>
      </div>
    </div>
    <div id='tooltip' :class="{ active: tooltipVisible }"></div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>