<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div id="sidebar">
      <div class='selection'>
        <label for="MultiplierSlider">Multiplier</label>
        <input type="range" min="1" :max="maxMultiplier" v-model="multiplier" class="slider" step="1" id="multiplierSlider"> {{multiplier}}
      </div>
      <div class='selection'>
        <label for="sortCheckbox">Sort</label>
        <input type="checkbox" v-model="sortOutcomes" id='sortCheckbox'>
      </div>
      <div><strong>Each dot represents 100 people.</strong></div>
      <div><a href="/">Back to the Homepage</a></div>
    </div>
    <div id="main">
      <div class='vis' id='bubbles'>
        <svg :width="svgWidth" :height="svgHeight">
          <g :transform="'translate(' + margin.left + ',' + margin.top + ')'">
            <circle v-for="(el, i) in predicted" :cx="grid.x(i)" :cy="grid.y(i)" :r="grid.size" :fill="grid.color(el)" @mouseover="gridTooltip(el)" @mouseout='tooltipVisible = false'/>
          </g>
        </svg>
      </div>
    </div>
    <div id='tooltip' :class="{ active: tooltipVisible }"></div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>