<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome to COVID-19 NYC Edition</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/grid.css">
  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Roboto:300,700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div id="grid-sidebar">
      <h1>NYC COVID-19 Data Explorer</h1>
      <h2>Visualizing Estimates of the Infected Population from Studies of Asymptomatic Cases</h2>
      <div>
        <div>
          <label :style="{color:multiplierScale}">Multiplier</label>
        </div>
        <el-radio-group v-model="multiplier" size="mini">
          <div>
            <el-radio label="0">No Multiplier
              <el-popover
                placement="bottom"
                title="No Multiplier"
                width="200"
                trigger="hover"
                content="Number of confirmed positive test numbers are predicted to be the total positive in population.">
                <i class="el-icon-info" slot="reference"></i>
              </el-popover>
            </el-radio-button>
          </div>
          <div>
            <el-radio label="2">x2
              <el-popover
              placement="bottom"
              title="Journal of Infectious Diseases Method"
              width="200"
              trigger="hover"
              content="Very loose confidence intervals here, so this method is likely highly imprecise. 95% confidence interval of 7.7% - 53.8%. So the real multiplier could be closer to 1.5x and still be consistent with the results of this study.">
              <i class="el-icon-info" slot="reference"></i>
            </el-popover>
            </el-radio-button>
          </div>
          <div>
            <el-radio label="4">x4
              <el-popover
              placement="bottom"
              title="BMJ / British Medical Journal"
              width="200"
              trigger="hover"
              content="Very small sample size here obscure the generalizability of the epidemiological results. Their highest case count with mandatory RNA testing of everyone was 88 people out of 300, but the number of asymptomatic cases in such a small area is interesting.">
              <i class="el-icon-info" slot="reference"></i>
            </el-popover>
            </el-radio-button>
          </div>
          <div>
            <el-radio label="7">x7
              <el-popover
              placement="bottom"
              title="Chinese Wuhan Study"
              width="200"
              trigger="hover"
              content="The rate at which the infection spread in Wuhan made scientists suspicious of the number of documented infections. If the number of documented infections was the entire infected population in Wuhan during the periods where data was analyzed, it would suggest that the virus has a very high rate of infection of others per infected individual. The alternative hypothesis is that the number of infected people who were undocumented, whether they were concealing the illness or were unaware that they had it, was much higher to explain the transmissibility through the population of Wuhan.">
              <i class="el-icon-info" slot="reference"></i>
            </el-popover>
            </el-radio-button>
          </div>
          <div>
            <el-radio label="18">x18
              <el-popover
              placement="bottom"
              title="Japanese Diamond Princess Study"
              width="200"
              trigger="hover"
              content="Much tighter confidence interval for this study for 95% interval between 15.5 - 20.2%. So 2.5% of the time, the asymptomatic population would have fallen below that range, and the other 2.5% of the time, it would have been above. The confined settings of the cruise ship are what sets this study apart and may make not as reliable as other epidemiological studies where, despite embarkations along the voyage to ports such as Hong Kong, there was much less contact with the general population than among other groups. ">
              <i class="el-icon-info" slot="reference"></i>
            </el-popover>
            </el-radio-button>
          </div>
        </el-radio-group>
      </div>
      <div><span class="dot" style="background-color:#fca52a;"></span> Tested Positive</div>
      <div><span class="dot" style="background-color:#ffcc02;"></span> Tested Negative</div>
      <div v-if="multiplier > 1"><span class="dot" style="background-color:#d6d6d6;"></span> Positive Undiagnosed</div>
      <el-checkbox v-model="sortOutcomes">Sort</el-checkbox>
      <div><strong style="color:black;">Each dot represents 500 people.</strong></div>
      <el-checkbox v-model="showAbout">Show About</el-checkbox>
      <div>
        Data Source : <br>
        <a href="https://github.com/nychealth/coronavirus-data">Live NYC Health Coronavirus Data</a>
      </div>
      <div>
        Additional Study Details: <br>
        <a href="https://github.com/neil-oliver/Visualizing-COVID-19">GitHub Repository</a>
      </div>
    </div>
    <div id="main">
      <div id="grid-about" v-show="showAbout">
        <div id="about-title">NYC Through The Eyes Of COVID-19 Testing</div>
        <div id="about-body">
          <p>More tests are being completed every hour, but we cannot be certain about the true number of people who are infected.
          Experts estimations vary, from 5x the current tested number to 18x.</p> 
          <p>Change the multiplier to view different estimates and how many people may be infected with COVID-19 and see how uncertain we are about the true impacts of this virus.</p>
          <p>Each circle represents a 500 people that have been tested and living in the same Zip Code.</p>
          <p>Try hovering over the different dots to get more information about the location and test results.</p>
        </div>
        <el-button v-on:click="showAbout = false">Start</el-button>
      </div>
      <div class='vis' id='bubbles'>
        <svg width="100%" :height="svgHeight">
          <g :transform="'translate(' + margin.left + ',' + margin.top + ')'">
            <circle v-for="(el, i) in predicted" :key="i" :cx="el.x" :cy="el.y" :r="grid.size" :fill="grid.color(el)" :stroke="el.outcome == 'Unknown / Untested' ? '#d6d6d6' : grid.color(el)" stroke-width='2px' :stroke-dasharray="el.outcome == 'Unknown / Untested' ? '2' : '0'" @mouseover="gridTooltip(el)" @mouseout='tooltipVisible = false'/>
          </g>
        </svg>
      </div>
    </div>
    <div id='tooltip' :class="{ active: tooltipVisible }"></div>
  </div>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>