<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div id="sidebar">
      <div class='selection'>
        <label for="MultiplierSlider">Multiplier</label>
        <input type="range" min="1" :max="maxMultiplier" v-model="multiplier" class="slider" step="1" id="multiplierSlider"> {{multiplier}}
      </div>
      <div class='selection'>
        <button id='randomButton' :disabled="map" v-on:click="randomize">Randomize</button>
      </div>
      <div class='selection'>
        <label for="mapCheckbox">Arrange by location</label>
        <input type="checkbox" v-model="map" id='mapCheckbox'>
      </div>
      <div v-if="map" class='selection'>
        <label for="outlineCheckbox">Show Map</label>
        <input type="checkbox" v-model="outlineButton" id='outlineCheckbox'>
      </div>
      <div class='selection'>
        <label for="aboutCheckbox">Show About</label>
        <input type="checkbox" v-model="showAbout" id='aboutCheckbox'>
      </div>
      <div><a href="./grid.html">View as Grid</a></div>
    </div>
    <div id="about" v-show="showAbout">
      <div id="about-title">NYC: Together as One</div>
      <div id="about-body">
        <p>Visualize New York City without borders. Each circle represents a zipcode, and how they have been affected by COVID-19.
        NYC lives and breathes together; when one area is suffering, everyone feels the affects. You can randomize the locations, but the outcome is the still the same.
        New York cannot heal one neighborhood at a time, it must work together, as one.</p>
        <br>
        <p>More tests are being completed every hour, but we cannot be certain about the true number of people who are infected.
        Experts estimations vary, from 5x the current tested number to 18x. You can change the multiplier to view how this uncertainly affects the overall picture.</p>
        <br>
        <p>Alternatively, click to the map button to view the most affected areas.</p>
        <br>
      </div>
      <button id='aboutButton' v-on:click="showAbout = false">Dismiss</button>
    </div>
    <div id="main">
      <div class='vis' id='bubbles'>
        <svg :width="svgWidth" :height="svgHeight">
          <g :transform="'translate(' + margin.left + ',' + margin.top + ')'">
            <path id="map" :class="{ active: outline }" :d="nyc" stroke='#000' stroke-width='1px' opacity="0.4"/>
            <g v-for="(element, i) in tests" @mouseover="tooltip(element)" @mouseout='tooltipVisible = false'>
              <circle :cx="scale.x(element.x)" :cy="scale.y(element.y)" :r="scale.size(element.Positive)" :fill="scale.color(element['zcta_cum.perc_pos'])"/>
              <circle :cx="scale.x(element.x)" :cy="scale.y(element.y)" :r="scale.size(element.Positive*multiplier)"  :fill="scale.color(element['zcta_cum.perc_pos'])" fill-opacity="0.6" stroke-opacity="1" :stroke="scale.color(element['zcta_cum.perc_pos'])" stroke-width='1px' stroke-dasharray="2"/>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <div id='tooltip' :class="{ active: tooltipVisible }"></div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>